[submodule "custom_components/automatic_accounts"]
	path = custom_components/automatic_accounts
	url = https://github.com/constructorfleet/HomeAssistant-Component-MultiAutomatic.git
[submodule "cusom_components/view_event"]
	path = cusom_components/view_event
	url = https://github.com/constructorfleet/HomeAssistant-Component-ViewEvent.git
